body{
    font-family: 'Segoe UI', sans-serif;
    background:#f4f6f9;
}

.navbar{
    box-shadow:0 3px 10px rgba(0,0,0,.2);
}

.sidebar{
    position:fixed;
    top:56px;
    left:0;
    width:260px;
    height:100vh;
    background:#1e293b;
    overflow-y:auto;
}

.sidebar a{
    display:block;
    padding:12px 20px;
    color:white;
    text-decoration:none;
    font-size:14px;
}

.sidebar a:hover{
    background:#0d6efd;
}

.contenido{
    margin-left:270px;
    padding:40px;
}

.espacio-imagen{
    width:100%;
    height:300px;
    background:#ddd;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:20px 0;
    font-weight:bold;
    color:#555;
}

footer{
    background:#111;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:50px;
}
